/////////////////////////////////////////////
/////////////////////////////////////////////
//////////////// GENERAL FILE  //////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
#app {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}