/////////////////////////////////////////////
/////////////////////////////////////////////
////////////////// HOME FILE  ///////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
.home {
    background-color: $yellow;
    min-height: 100vh;
    min-width: 100vw;
}

#app {
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
    min-width: 100%;
}