.comingSoon-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  align-items: center;
}

.comingSoon-title {
  font-size: 5.37rem;
  font-family: bebas neue;
  letter-spacing: .04em;
  font-weight: 700;
  text-shadow: 4px 4px #333;
  color: rgb(255, 177, 32);
  margin-left: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.comingSoon-content {
  display: flex;
  width: 100%;
  justify-content: center;
}